# Set options for certfile, ip, password, and toggle off
# Set ip to '*' to bind on all interfaces (ips) for the public server
c.NotebookApp.ip = '*'
c.NotebookApp.open_browser = False

# It is a good idea to set a known, fixed port for server access
c.NotebookApp.port = {{port}}

# The password
c.NotebookApp.password = "{{password_hash}}"

# Don't try another port if this port is unavailable.
c.NotebookApp.port_retries

# Don't open a browser after start
c.NotebookApp.open_browser=False

#Answer yes to all prompts (such as "are you sure you want to shutdown the notebook")
c.NotebookApp.answer_yes=True
