# list sources, sinks, and channels in the agent
a1.sources = r1
a1.sinks = k1
a1.channels = c1


# source properties
a1.sources.r1.type = org.apache.flume.source.kafka.KafkaSource
a1.sources.r1.channels = c1
a1.sources.r1.batchSize = {{ config['kafka_max_batch_size'] }}
a1.sources.r1.topic = {{ config['kafka_topic'] }}
a1.sources.r1.zookeeperConnect = {{ config['zookeeper_connect'] }}

# inject our configured subdir
a1.sources.r1.interceptors = i1
a1.sources.r1.interceptors.i1.type = static
a1.sources.r1.interceptors.i1.key = event_dir
a1.sources.r1.interceptors.i1.value = {{ config['event_dir'] }}

# channel properties
a1.channels.c1.type = memory
a1.channels.c1.capacity = {{ config['channel_capacity']}}
a1.channels.c1.transactionCapacity = {{ config['channel_transaction_capacity']}}

# sink properties
a1.sinks.k1.type = {{ any_ready_unit('flume-agent')[1]['protocol'] }}
a1.sinks.k1.channel = c1
a1.sinks.k1.hostname = {{ any_ready_unit('flume-agent')[1]['private-address'] }}
a1.sinks.k1.port = {{ any_ready_unit('flume-agent')[1]['port'] }}
